<head>
<link rel="stylesheet" href="/css/common/header.css">
</head>

  <header>
    <section>
      <!-- 클릭 시 메인 페인지로 이동하는 로고 -->
      <a href="/">
        <img src="/image/로고 수정3.png" alt="메인 로고" id="homeLogo">
      </a>
    </section>

    <!-- 안 쓰는 섹션-->
    <section></section>

    <section id="drop-board">
      <a href="/board">게시판(임시연결)</a>
    </section>
    <section>
      <a href="#">채팅</a>
    </section>
    <section>
      <a href="#">로그인</a>
    </section>
  </header>


  <!-- # 추후 common에서 조립하여 쓸 수 있도록 한다.-->
  <!-- navigator -->
  <nav>
    <ul id="drop-board-list">
      <li><a href="#">자유 게시판</a></li>
      <li><a href="#">질문 게시판</a></li>
      <li><a href="#">급식표 게시판</a></li>
      <li><a href="#">입시정보 게시판</a></li>
      <li><a href="#">문제풀이 게시판</a></li>
      <li><a href="#">공지사항</a></li>
    </ul>
  </nav>
  <!-- cf. # 게시판 번호 부여시 아래와 같은 형식으로 변경할것 
  <th:block th:each=" boardType: ${application.boardTypeList}">
    <li>
      <a th:href="@{/board/{boardCode}(boardCode=${boardType.boardCode})}" 
      th:text="${boardType.boardName}">게시판이름</a>
    </li>
  </th:block> 
  -->
  
  <!-- jihun -->