*{box-sizing:border-box;}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    border:1px solid black;
    margin:20px;
    width:65%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.main-container > section{
    border: 1px solid skyblue;
    width: auto;
    margin:10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.main-content{
    border-radius: 15px;
    margin:10px;
    border:1px solid green;
}

.calender{
    width:70%;
    height:auto;
}

.todo{
    width:25%;
    height:auto;
}



.diary{
    width:45%;
    height:auto;
}

.wrong-note{
    width:50%;
    height:auto;
}

.sidebar{
    border:1px solid red;
    margin:20px;
    width:15%;
    height: 800px;
    border-radius: 15px;
}
/*------------ 구분선 ---------------*/
/* 시간표 부분 */
.class-table{
    width:95%;
    height:auto;
    display:flex;
    padding:8px;
    flex-direction: column;
}

.class-table > section{
    border:1px solid grey;
    border-radius: 15px;
    padding: 8px;
}

.class-table > section:nth-child(1){
    margin:5px;
    height:30px;
    border:none;
    text-align: center;
}

.class-table > section:nth-child(2){
    padding:8px;
    margin:5px;
    display:flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.class-table > section:nth-child(3){
    display:flex;
    justify-content: space-between;
    width:100%;
    margin: 5px;
}

.day{
    width:15%;
    border: 1px solid hotpink;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.day > section{
    display: flex;
    justify-content: center;
}

.day-left{
    width:35%;
    display: flex;
    flex-direction: column;
}

.day-left + section{
    width:15%;
}

.day-right{
    width:35%;
    display: flex;
    flex-direction: column;
}

.classtime{
    height: 35px;
    text-align: center;
}

.subject{
    height:35px;
    text-align: center;
}

.day-name{
    text-align: center;
    background-color: rgb(64, 64, 155);
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:35px;
    font-size:20px;
    padding-top:2px;
    margin-bottom: 5px;
}
/*------------ 구분선 ---------------*/

/*------------ 구분선 ---------------*/
/* 캘린더 부분 */

.calender-main-content{
    display: flex;
    flex-direction: column;
}

#calender-upper{
    display: flex;
}

#calender-upper > div:last-child{
    display: flex;
    border: 1px solid rgb(36, 177, 43);
    margin : 3px;
    padding : 3px;

}

.calender-table{
    border:1px solid rgb(22, 149, 172);
    width:95%;
    height:95%;
    display:flex;
    justify-content: space-between;
}

.calender-table-body > th{
    width:40px;
    height:15px;
    border:1px solid rgb(172, 22, 160);
}



/*------------ 구분선 ---------------*/
/* todo 부분 */
.todo{
    display: flex;
    flex-direction: column;
    padding : 10px;
}


/*------------ 구분선 ---------------*/
/* 일기장 부분 */


/*------------ 구분선 ---------------*/
/* 오른쪽 내 정보 부분 */
