*{box-sizing:border-box;}

.COLORPALLETE{
    color:#D9DED1;
    color:#F2EADD;
    color:#A2B7A8;
    color:#506E66;
    color:#373E3B;
    color:#FCD1A0;
    color:#f8a814
}

#main-container{
    display: flex;
    justify-content: center;
}
.main-myPage{
    border:1px solid black;
    margin:20px;
    width:65%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.main-myPage > section{
    border: 1px solid skyblue;
    width: auto;
    margin:10px;
    padding:15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.main-content{
    border-radius: 15px;
    margin:10px;
    border:1px solid #506E66;
}

.calender{
    width:70%;
    height:auto;
}

.todo{
    width:25%;
    height:auto;
}

.wrong-note{
    width:50%;
    height:auto;
}


/*------------ 구분선 ---------------*/
/* 시간표 부분 */
.class-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    width:97%;
    margin:0px;
}

#semester{
    display: flex;
    flex-direction: column;
    top:100%;
    background-color: #506E66;
    color:white;
    height:1.8em;
    font-size:26px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:100%;
    text-align: center;
    align-items: center;
}
#timetable-upper{
    display: flex;
    flex-direction: column;
}
#semester-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
#semester-edit-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}
#timetable-lower{ /*1*/
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width:100%;
    gap:18px;
}
#timetable-lower > section{ /*2*/
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0px;
    margin:0px;
    width:95%;
    border-radius: 15px;
    border: 1px solid #A2B7A8;
}
.day1, .day2, .day3, .day4, .day5, .day6{ /*3*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #506E66;
    color:#F2EADD;
    margin:3px;
    padding:3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    font-size:18px;
    width:35%;
    line-height: 200%;
    
}
#timetable-lower > section > section:nth-child(2){ /*5*/
    flex-basis: 10%;
}
.day-lower{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    width:100%;
}
.day-lower > div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:4px;
    margin:0px;
    width:100%;
}
.subject, .classtime, .empty-ct{
    height:35px;
    text-align: center;
    line-height: 200%;
}
.classtime{
    width: 30%;
}
.empty-ct{
    width:15%;
}
.subject{
    width:55%;
    color:#f8a814;
}
.subject-input{
    width:55%;
    border:none;
    background-color: #A2B7A8;
}


/*------------ 구분선 ---------------*/

/*------------ 구분선 ---------------*/
/* 캘린더 부분 */

.calender-main-content{
    display: flex;
    flex-direction: column;
}

#calender-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calender-name{
    background-color: rgb(89, 89, 216);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-basis:100%;
    color:white;
    width:100%;
    height:60%;
    text-align: center;
}

#year-area{
    display: flex;
    margin : 0px;
    padding : 0px;
    width:100%;
    flex-basis: 100%;
    justify-content: center;
    gap:20px;
    align-items: center;
}

#year-area > button{
    border-radius: 5px;
    border:none;
    background-color: rgb(10, 150, 115);
    color:white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#year-area > button:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgb(13, 112, 87);
}

.calender-table{
    border:1px solid rgb(22, 149, 172);
    width:95%;
    height:95%;
}

.calender-table-body .tdEmpty{
    width:40px;
    height:15px;
	background-color: brown;
	color : white;
}

.calender-table-body .tdEmpty{
    width:40px;
    height:15px;
	background-color: rgb(255, 255, 0);
	color : white;
}

.calender-table-body .tdNormal{
    width:40px;
    height:15px;
	background-color: darkblue;
	color : white;
}



/*------------ 구분선 ---------------*/
/* todo 부분 */
.todo{
    display: flex;
    flex-direction: column;
    padding : 10px;
}
/*------------ 구분선 ---------------*/

/*------------ 구분선 ---------------*/
/* 일기장 부분 */
.diary{
	padding:10px;
	width:50%;
	border:1px solid hotpink;
	display: flex;
	flex-direction: column;
}

#diary-form{
	display: flex;
	flex-direction: column;
}

#diary-content{
	width:80%;
	height:500px;
}

/*------------ 구분선 ---------------*/
/* 오른쪽 내 정보 부분 */

.sidebar{
    border:1px solid red;
    margin:20px;
    width:15%;
    height: auto;
    border-radius: 15px;
	display:flex;
	flex-direction: column;
	
}

.my-profile{
	display: flex;
	flex-direction: column;
	height:25%;
	margin:20px;
	border: 1px solid grey;
	padding:20px;
}

#picture-edit-area{
	display:flex;
	flex-direction:column;
}

.select-theme{
	display: flex;
	flex-direction: column;
	padding:20px;
	height:25%;
	border: 1px solid grey;
	margin:20px;
}

.select-theme > div{
	border-radius: 30px;
	width:25%;
	height:5%;
	background-color: aqua;
}

/*------------ 구분선 ---------------*/
/* 오답노트 부분 */
#wrong-note-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
    margin:0px;
    height:15%;
}

#wrong-note-name > div:first-child{
    flex-basis: 100%;
    background-color: rgb(89, 89, 216);
    color:white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height:60%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrong-note-name > div:last-child{
    flex-basis: 100%;
    color:rgb(89, 89, 216);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height:40%;
    margin-top:5px;
    margin-bottom: 10px;
    padding:15px;
}
#wrong-note-content{
    flex-basis:100%;
    height:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wrong-note-content > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 5px;
    background-color: rgb(45, 106, 187);
    width:45%;
    left:50%;
    
}
#wrong-note-content > div:first-child > a{
    text-decoration: none;
    color:white;
}
#wrong-note-content > div:first-child > a:visited{
    color:white;
}
#wrong-note-list{
    flex-basis: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#wrong-note-list > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    width:95%;
    padding:0px;
    margin:0px;https://github.com/KH-SEMI-KYO6IN/semi_8gyosi/pull/50/conflict?name=8gyosi%252Fsrc%252Fmain%252Fresources%252Ftemplates%252FmyPage%252FmyPage-main.html&ancestor_oid=e007c068dcaf1c5b55ddaa2f199cc7382b9127da&base_oid=7d1b99f6065922793b1cf4e7348c0d7f24ad44cb&head_oid=0063bff02a3e146100d272606a2a29c347b8e3c9
    height: 90%;
}
#wrong-note-list > ul > li{
    border:1px solid green;
    width:95%;
    text-align: center;
    height: 12%;
    margin-top:5px;
    margin-bottom: 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#wrong-note-list > ul > li > a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
#wrong-note-list > ul > li div{
    color:rgba(15, 168, 206, 0.808);
    margin-right:15px;
}
.wn-li-empty{
    color:rgb(71, 65, 66) !important; /* important 로 다른 css 보다 우선적용*/
}
