*{box-sizing:border-box;}

.COLORPALLETE{
    color:#D9DED1;
    color:#F2EADD;
    color:#A2B7A8;
    color:#506E66;
    color:#373E3B;
    color:#FCD1A0;
    color:#f8a814
}

#main-container{
    display: flex;
    justify-content: center;
}
.main-myPage{
    border:1px solid black;
    margin:20px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.main-myPage > section{
    border: 1px solid skyblue;
    width: auto;
    margin:10px;
    padding:15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.main-content{
    border-radius: 15px;
    margin:10px;
    border:1px solid #506E66;
}

.calender{
    width:70%;
    height:auto;
}

.todo{
    width:25%;
    height:auto;
}



/*------------ 구분선 ---------------*/
/* 시간표 부분 */
.class-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    width:97%;
    margin:0px;
}

#semester{
    display: flex;
    flex-direction: column;
    top:100%;
    background-color: #506E66;
    color:white;
    height:1.8em;
    font-size:26px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
<<<<<<< HEAD
    height:35px;
    font-size:22px;
    padding-top:2px;
    margin-bottom: 5px;
=======
    width:100%;
    text-align: center;
    align-items: center;
>>>>>>> 670303f39adb2fdbed72349b5160533315431ec1
}
#timetable-upper{
    display: flex;
    flex-direction: column;
}
#semester-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
#semester-edit-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}
#timetable-lower{ /*1*/
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width:100%;
    gap:18px;
}
#timetable-lower > section{ /*2*/
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0px;
    margin:0px;
    width:95%;
    border-radius: 15px;
    border: 1px solid #A2B7A8;
}
.day1, .day2, .day3, .day4, .day5, .day6{ /*3*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #506E66;
    color:#F2EADD;
    margin:3px;
    padding:3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    font-size:18px;
    width:35%;
    line-height: 200%;
    
}
#timetable-lower > section > section:nth-child(2){ /*5*/
    flex-basis: 10%;
}
.day-lower{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    width:100%;
}
.day-lower > div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:4px;
    margin:0px;
    width:100%;
}
.subject, .classtime, .empty-ct{
    height:35px;
    text-align: center;
    line-height: 200%;
}
.classtime{
    width: 30%;
}
.empty-ct{
    width:15%;
}
.subject{
    width:55%;
    color:#f8a814;
}


/*------------ 구분선 ---------------*/

/*------------ 구분선 ---------------*/
/* 캘린더 부분 */

.calender-main-content{
    display: flex;
    flex-direction: column;
}

#calender-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calender-name{
    background-color: rgb(89, 89, 216);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-basis:100%;
    color:white;
    width:100%;
    height:60%;
    text-align: center;
}

#year-area{
    display: flex;
    margin : 0px;
    padding : 0px;
    width:100%;
    flex-basis: 100%;
    justify-content: center;
    gap:20px;
    align-items: center;
}

#year-area > button{
    border-radius: 5px;
    border:none;
    background-color: rgb(10, 150, 115);
    color:white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#year-area > button:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgb(13, 112, 87);
}

.calender-table{
    border:1px solid rgb(22, 149, 172);
    width:95%;
    height:95%;
}

.calender-table-body .tdEmpty{
    width:40px;
    height:15px;
	background-color: brown;
	color : white;
}

.calender-table-body .tdEmpty{
    width:40px;
    height:15px;
	background-color: rgb(255, 255, 0);
	color : white;
}

.calender-table-body .tdNormal{
    width:40px;
    height:15px;
	background-color: darkblue;
	color : white;
}



/*------------ 구분선 ---------------*/
/* todo 부분 */
.todo{
    display: flex;
    flex-direction: column;
    padding : 10px;
}
/*------------ 구분선 ---------------*/


/*------------ 구분선 ---------------*/
/* 오른쪽 내 정보 부분 */

.sidebar{
    border:1px solid red;
    margin:20px;
    width:15%;
    height: auto;
    border-radius: 15px;
	display:flex;
	flex-direction: column;
	
}

.my-profile{
	display: flex;
	flex-direction: column;
	height:25%;
	margin:20px;
	border: 1px solid grey;
	padding:20px;
}

#picture-edit-area{
	display:flex;
	flex-direction:column;
}

.select-theme{
	display: flex;
	flex-direction: column;
	padding:20px;
	height:25%;
	border: 1px solid grey;
	margin:20px;
}

.select-theme > div{
	border-radius: 30px;
	width:25%;
	height:5%;
	background-color: aqua;
}

/*------------ 구분선 ---------------*/

/* 1. 부모 컨테이너 수정 */
.lower {
    display: flex;           /* 가로 배치를 위해 추가 */
    justify-content: center; /* 중앙 정렬 */
    align-items: stretch;    /* 두 박스의 높이를 동일하게 맞춤 */
    flex: 1;  
    width: 100%;
    height: 100%; 
}

.wrong-note {
    flex: 1;                 /* 핵심: 일기장과 동일한 비율 1 부여 */
    margin: 10px;            /* 박스 간 간격 유지 */
    height: auto;            /* 내용에 따라 늘어나도록 설정 */
    display: flex;
    flex-direction: column;
    border: 1px solid green; /* 기존 .main-content의 border 유지 */
}


/* 일기장 부분 */
.diary {
    background-color: white !important; /* 전체 배경은 흰색 */
    padding: 0; /* 제목 바가 상단에 딱 붙도록 패딩 제거 */
    display: flex;
    flex-direction: column;
    border: 1px solid green; /* 오답노트와 맞추기 위해 테두리 색상 통일 */
    border-radius: 15px;
    overflow: hidden; /* 제목 바의 둥근 모서리가 잘 보이도록 설정 */
}

#diary-body {
    padding: 15px;
    background-color: white;
}


#diary-header {
    height: 45px; /* 오답노트의 60% 높이 또는 고정값과 일치시킴 */
    background-color: rgb(89, 89, 216); /* 이미지의 보라색 배경 */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    margin: 0; /* 외부 여백 제거 */
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


#diary-name{
    flex-basis: 100%;
    color:white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height:30%;

    margin-bottom:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#diary-form{
	display: flex;
	flex-direction: column;
}

#diary-content{
	width:80%;
	height:500px;
}

#diaryDate{
    width: 100%;
    font-size:22px;
    font-weight: bold;
    padding:5px;
}

#diaryTitle{
    width: 100%;
    font-size: 20px

}

#diaryContent{
    width: 100%;
    height: 500px;
    font-size: 20px


}

#diary-container, .diary-component {
    background-color: transparent; /* 혹시 부모에 배경색이 있다면 투명하게 */
}

/*------------ 구분선 ---------------*/
/* 오답노트 부분 */
#wrong-note-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:15%;
}

#wrong-note-name > div:first-child{
    height: 45px;            /* 일기장 제목과 동일한 높이 설정 */
    display: flex;           /* 기존 코드 유지 또는 추가 */
    align-items: center;
    justify-content: center;
    background-color: rgb(89, 89, 216);
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 5px;
}
#wrong-note-name > div:last-child{
    flex-basis: 100%;
    color:rgb(89, 89, 216);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height:40%;
    margin-top:5px;
    margin-bottom: 10px;
    padding:15px;
}
#wrong-note-content{
    flex-basis:100%;
    height:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wrong-note-content > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 5px;
    background-color: rgb(45, 106, 187);
    width:45%;
    left:50%;
    
}
#wrong-note-content > div:first-child > a{
    text-decoration: none;
    color:white;
}
#wrong-note-content > div:first-child > a:visited{
    color:white;
}
#wrong-note-list{
    flex-basis: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#wrong-note-list > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    width:95%;
    padding:0px;
    margin:0px;https://github.com/KH-SEMI-KYO6IN/semi_8gyosi/pull/50/conflict?name=8gyosi%252Fsrc%252Fmain%252Fresources%252Ftemplates%252FmyPage%252FmyPage-main.html&ancestor_oid=e007c068dcaf1c5b55ddaa2f199cc7382b9127da&base_oid=7d1b99f6065922793b1cf4e7348c0d7f24ad44cb&head_oid=0063bff02a3e146100d272606a2a29c347b8e3c9
    height: 90%;
}
#wrong-note-list > ul > li{
    border:1px solid green;
    width:95%;
    text-align: center;
    height: 12%;
    margin-top:5px;
    margin-bottom: 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#wrong-note-list > ul > li > a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
#wrong-note-list > ul > li div{
    color:rgba(15, 168, 206, 0.808);
    margin-right:15px;
}
.wn-li-empty{
    color:rgb(71, 65, 66) !important; /* important 로 다른 css 보다 우선적용*/
}
<<<<<<< HEAD


/*동기부여글 부분*/

/* 전체 카드 스타일  */
.quotes-card {
    border: 2px solid #28a745; 
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    max-width: 500px; 
}

/* 상단 타이틀 바 */
.quotes-header {
    background-color: #5d5cd1; /* 보라/파란색 */
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

/* 폼 내부 여백 */
#quotes-form {
    padding: 15px;
}

/* 텍스트 입력창 스타일 */
#quotes-content {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 */
    resize: none;
}

/* ⭐ 핵심: 컨트롤 요소들을 한 줄로 가로 정렬 */
.controls-row {
    display: flex;       /* 가로 정렬 */
    gap: 5px;            /* 요소 사이의 미세한 간격 */
    width: 100%;         /* 전체 너비 사용 */
}

/* ⭐ 핵심: 크기입력, 글꼴그룹, 버튼을 동일한 크기로 설정 */
.controls-row > #font-size,
.controls-row > .font-select,
.controls-row > .save-btn {
    flex: 1;             /* 가로 공간을 1:1:1로 균등하게 나눔 */
    height: 38px;        /* 높이 통일 */
    box-sizing: border-box;
}

/* 글꼴 선택창 내부의 select 태그도 부모 크기에 맞춤 */
#menu-font-menu {
    width: 100%;
    height: 100%;
}

/* 저장 버튼 스타일 */
.save-btn {
    background-color: #efefef;
    border: 1px solid #767676;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #e0e0e0;
}
=======
>>>>>>> 670303f39adb2fdbed72349b5160533315431ec1
