<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>

    <link rel="stylesheet" th:href="@{/css/board/boardDetail-style.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<th:block th:replace="~{common/header}"></th:block>

<main class="container">
    <div class="write-box">

        <!-- 카테고리 + 제목 -->
        <div class="title-wrapper">
            <span th:text="${board.boardTypeName}"></span>
            <h2 th:text="${board.boardTitle}"></h2>
        </div>

        <!-- 게시글 정보 -->
        <div class="board-info">
            <span th:text="${board.memberNickname}"></span>
            <span th:text="${board.boardCreateDate}"></span>
            <span>조회수 <span th:text="${board.boardViewCount}"></span></span>
        </div>

        <!-- 내용 -->
        <div class="content-wrapper">
            <div th:utext="${board.boardContent}"></div>
        </div>

        <!-- 첨부 이미지 -->
        <div class="file-wrapper">
            <div th:each="img : ${board.boardImages}">
                <img th:src="@{'/images/' + ${img.imgRename}}" class="preview">
            </div>
        </div>

        <!-- 첨부 파일 -->
        <div class="file-wrapper">
            <div th:each="file : ${board.boardFiles}">
                <a th:href="@{'/files/' + ${file.fileRename}}"
                   th:text="${file.fileOriginName}" target="_blank"></a>
            </div>
        </div>

        <!-- 좋아요 -->
        <div class="toolbar">
            <button id="likeBtn"
                    th:data-board-id="${board.boardId}">
                👍 좋아요
            </button>
            <span id="likeCount">0</span>
        </div>

        <!-- 수정 / 삭제 (작성자 or 관리자) -->
        <div class="toolbar"
             th:if="${session.loginMember != null
             and (session.loginMember.memberNo == board.memberNo)}">
             <!-- or session.loginMember.role.name() == 'ADMIN')}"> -->

            <a th:href="@{/board/{id}/edit(id=${board.boardId})}">수정</a>
            <button id="deleteBoardBtn">삭제</button>
        </div>

        <!-- 댓글 영역 -->
        <section id="commentSection">
            <h3>댓글</h3>
            <ul>

            <li class="comment-row" 
					th:each="comment : ${board.boardComments}" 
					th:classappend="${comment.parentCommentNo} != 0 ? child-comment"
					th:object="${comment}">

				<th:block th:if="*{commentDelFl} == 'Y'">
					삭제된 댓글 입니다
				</th:block>

				<th:block th:if="*{commentDelFl} == 'N'">
					<p class="comment-writer">
						
	

						<!--<span th:text="${board.memberNickname}">닉네임</span>-->

						<span th:text="*{memberNickname}">닉네임</span>

						<span class="comment-date" th:text="*{commentWriteDate}">작성일</span>
					</p>
	
					<p class="comment-content" th:text="*{commentContent}">댓글 내용</p>
	
					<!-- 버튼 영역 -->
					<div class="comment-btn-area">
						<button th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>
	
						<th:block th:if="${session.loginMember != null and session.loginMember.memberNo == comment.memberNo}">
							<button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>
							<button th:onclick="|deleteComment(*{commentNo})|">삭제</button>
						</th:block>
						<!-- 로그인 회원과 댓글 작성자가 같은 경우 -->
	
					</div>
				</th:block>

			</li>
            </ul>


            <!-- 댓글 목록 (비동기) -->
            <!-- <div id="commentList"></div> -->

            <!-- 댓글 작성 -->
             <div th:if="${session.loginMember != null}">
                <textarea id="commentContent" placeholder="댓글을 입력하세요"></textarea>
                <button id="addCommentBtn">댓글 작성</button>
            </div>

            <div th:if="${session.loginMember == null}">
                <p>로그인 후 댓글 작성이 가능합니다.</p>
            </div>
        </section>

    </div>
</main>

<th:block th:replace="~{common/footer}"></th:block>

<script th:inline="javascript">
    const boardId = /*[[${board.boardId}]]*/ 0;
</script>

<script th:src="@{/js/board/boardDetail.js}"></script>
</body>
</html>

