<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/board/boardUpdate-style.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/summernote@0.8.22/dist/summernote-lite.min.css">

    <!-- JS 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.22/dist/summernote-lite.min.js"></script>
</head>
<body>
<th:block th:replace="~{common/header}"></th:block>

<main class="container">
	<form th:action="@{/editBoard/{boardTypeNo}/{boardId}/update(boardTypeNo=${board.boardTypeNo}, boardId=${board.boardId})}"
	      method="post" enctype="multipart/form-data">

	    <select name="boardTypeNo" required>
	        <option th:each="type : ${categoryList}"
	                th:value="${type.boardTypeNo}"
	                th:text="${type.boardTypeName}"
	                th:selected="${board.boardTypeNo == type.boardTypeNo}"
	                th:if="${!type.adminOnly or session.loginMember.role == T(edu.kh.eightgyosi.member.model.dto.Member.Role).ADMIN}">
	        </option>
	    </select>

	    <input type="text" name="boardTitle" th:value="${board.boardTitle}" required>
	    <textarea id="boardContent" name="boardContent" th:text="${board.boardContent}"></textarea>

	    <!-- 기존 이미지 -->
	    <div id="imageContainer">
	        <div th:each="img : ${board.boardImages}" class="boardImg">
	            <img th:src="@{'/images/' + ${img.imgRename}}" class="preview">
	            <button type="button" class="delete-image" th:data-img-id="${img.imgNo}">삭제</button>
	        </div>
	    </div>
	    <input type="file" name="images" multiple>

	    <!-- 기존 파일 -->
		<div id="fileContainer">
		    <div th:each="file : ${board.boardFiles}" class="boardFile">
		        <a th:href="@{'/editBoard/' + ${board.boardTypeNo} + '/file/' + ${file.uploadfileNo}}"
		           th:text="${file.uploadfileOrigin}" target="_blank"></a>
		    </div>
		</div>
	    <input type="file" name="files" multiple>

	    <input type="hidden" name="deleteImageIds" id="deleteImageIds">
	    <input type="hidden" name="deleteFileIds" id="deleteFileIds">

	    <button type="submit">수정 완료</button>
	</form>
</main>

<th:block th:replace="~{common/footer}"></th:block>

<script th:src="@{/js/board/boardUpdate.js}"></script>
</body>
</html>
