<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/board/boardWrite-style.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/summernote@0.8.22/dist/summernote-lite.min.css">

    <!-- JS 라이브러리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.22/dist/summernote-lite.min.js"></script>
</head>
<body>
<th:block th:replace="~{common/header}"></th:block>

<main class="container">
	<form th:action="@{/editBoard/{boardTypeNo}/insert(boardTypeNo=${boardTypeNo})}"
	      method="post" enctype="multipart/form-data">

	    <select name="boardTypeNo" required>
	        <option value="">게시판 선택</option>
	        <option th:each="type : ${categoryList}"
	                th:value="${type.boardTypeNo}"
	                th:text="${type.boardTypeName}"
	                th:if="${!type.adminOnly or session.loginMember.role == T(edu.kh.eightgyosi.member.model.dto.Member.Role).ADMIN}">
	        </option>
	    </select>

	    <input type="text" name="boardTitle" placeholder="제목 입력" required>
	    <textarea id="boardContent" name="boardContent"></textarea>

	    <input type="file" name="images" multiple accept="image/*">
	    <input type="file" name="files" multiple>

	    <button type="submit">작성 완료</button>
	</form>
</main>

<th:block th:replace="~{common/footer}"></th:block>

<script th:src="@{/js/board/boardWrite.js}"></script>
</body>
</html>
