*{
  box-sizing: border-box;
}

body {
  margin: 0;
}



/*========================== footer ================================*/
footer {
    width: 100%;
    background-color: #D9E1F0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 13px;
}


footer > div {
    display: flex;
    width: 1440px;
    margin: auto;
}



footer > div > section:first-of-type {
     flex-basis: 35%;
}

footer > div > section:nth-of-type(2) {
    flex-basis: 20%;
}

footer > div > section:nth-of-type(3) {
    flex-basis: 35%;
}

footer > div > section:last-of-type {
    flex-basis: 10%;
}



/* footer left */

footer > div section:first-child ul {
    display: flex;
    gap: 20px;
    max-width: 500px;
    list-style: none;
}

footer > div section:first-child ul li a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
}

footer > div section:first-child ul li a:hover {
    color: #333;
    text-decoration: underline;
}



/* footer right */
footer > div section:last-child {
    display: flex;
    align-items: right;
    gap: 20px;
    width: 100px;
    margin: auto;
}

footer > div section:last-child pre {
    margin: 0;
    color: #666;
    max-width: 600px;
    text-align: left;
    line-height: 1.4;
}


#arrowUpBtn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #D9E1F0;
    transition: background-color 0.2s;
    align-items: right;
    font-size: 24px;
}

#arrowUpBtn:hover {
    border: #333;
    border-radius: 50%;
    background-color: white;
} 




