/*========================== header ================================*/
header {
    background-color: #5c86e0;
    height: 60px; /* 적절한 높이 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    color: white;
    position: relative;
}

header > section:first-child{
    flex-basis: 5%;
}

header > section:nth-child(2){
    flex-basis: 65%;
}
header > section:nth-child(3){
    flex-basis: 10%;
}
header > section:nth-child(4){
    flex-basis: 10%;
}
header > section:nth-child(5){
    flex-basis: 10%;
}

.profile-img-circle {
    width: 30px;        
    height: 30px;        
    border-radius: 50%;  
    overflow: hidden;     
    border: 2px solid rgb(255, 255, 255); 
}

.profile-img-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center; 
}


/* 게시판 메뉴가 포함된 섹션 */
#drop-board {
    height: 30px; 
    display: flex;
    align-items: center;
}

#header_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header_board {
    position: relative; 
    padding: 15px 0; 
}



.sub_menu {
    display: flex; 
    position: absolute;
    height: 50px;
    top: 100%; 
    right: -400px;
    min-width:1000px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border-radius: 4px;
    
}

.sub_menu.active {
    display: block;
}

.sub_menu li a {
    color: #5a82e5;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
}

.sub_menu li a:hover {
    opacity: 1;
    background-color: #5c86e0;
    color: white;
    border-radius: 15px;
}
/*---------------------------------------------------*/

#homeLogo {
    height: 50px; 
}


/* 게시판, 채팅, 로그인 메뉴 */
header section:not(:first-child):not(:nth-child(2)) {
    margin-left: 25px;
    
}

header section a {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
    transition: opacity 0.2s;
    text-decoration: none;
}

header section a:hover {
    opacity: 1;
    font-size: 20px;
}



/* 게시판, 채팅, 로그인 메뉴들을 감싸는 영역 */
header section:last-of-type {
    display: flex;
    align-items: center;
}

header section a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 40px; /* 메뉴 간 간격 */
    opacity: 0.9;
}

/* 로그인 창 */
#login-window{
    flex-direction: column;
    width:350px;
    height:420px;
    top:20%;
    left:40%;
    display: hidden;
    border: 1px solid rgb(227, 230, 232);
    position:fixed;
    background-color: white;
	border-radius:15px;
}

.hidden{
    display:none;
}

.show{
    display:block;
}

#login-window > section{
    display: flex;
    flex-direction: column;
}

#login-window > div:first-child{
	background-color: #5c86e0;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-weight: bold;
	padding:10px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

#login-window > div:first-child > div{
	width:90%;
	margin-top:5px;
	font-size: 28px;
}

#login-window-close{
	width:10%;
	height:40px;
	font-size: 28px;
	cursor:pointer;
	color: white;
	padding:0px;
	background-color: transparent;
	border:none;
	outline:none;
}

#login-form{
	width:92%;
	height:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login-form > label{
	color:rgb(105, 103, 107)
}

#login-area{
	width:95%;
	border:none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:rgb(105, 103, 107);
}

#loing-area > input{
	width:100%;
	margin:5px;
	color:rgb(105, 103, 107);
}