/*========================== header ================================*/
header {
    background-color: #5c86e0;
    height: 60px; /* 적절한 높이 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    color: white;
    position: relative;
}

header > section:first-child{
    flex-basis: 10%;
}

header > section:nth-child(2){
    flex-basis: 69%;
}
header > section:nth-child(3){
    flex-basis: 7%;
}
header > section:nth-child(4){
    flex-basis: 7%;
}
header > section:nth-child(5){
    flex-basis: 7%;
}

/* 게시판 메뉴가 포함된 섹션 */
#drop-board {
    height: 30px; 
    display: flex;
    align-items: center;
}

#header_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header_board {
    position: relative; 
    padding: 15px 0; 
}



.sub_menu {
    
    display: flex; 
    position: absolute;
    height: 50px;
    top: 100%; 
    right: -400px;
    min-width:1000px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border-radius: 4px;
    
}


.sub_menu.active {
    display: block;
}

.sub_menu li a {
    color: #5a82e5;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
}

.sub_menu li a:hover {
    opacity: 1;
    background-color: #5c86e0;
    color: white;
    border-radius: 15px;
}
/*---------------------------------------------------*/

#homeLogo {
    height: 50px; 
}


/* 게시판, 채팅, 로그인 메뉴 */
header section:not(:first-child):not(:nth-child(2)) {
    margin-left: 25px;
    
}

header section a {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
    transition: opacity 0.2s;
    text-decoration: none;
}

header section a:hover {
    opacity: 1;
    font-size: 20px;
}



/* 게시판, 채팅, 로그인 메뉴들을 감싸는 영역 */
header section:last-of-type {
    display: flex;
    align-items: center;
}

header section a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px; /* 메뉴 간 간격 */
    opacity: 0.9;
}

/* 로그인 창 */
#login-window{
    flex-direction: column;
    width:300px;
    height:400px;
    top:50%;
    left:50%;
    display: hidden;
    border: 2px solid black;
    padding:10px;
    position:fixed;
    background-color: rgba(79, 116, 236, 0.7);
}

.hidden{
    display:none;
}

.show{
    display:block;
}

#login-window > section{
    display: flex;
    flex-direction: column;
}