/*
색상표
*/
.COLORPALLETE{
    color:#D9DED1;
    color:#F2EADD;
    color:#A2B7A8;
    color:#506E66;
    color:#373E3B;
    color:#FCD1A0;
    color:#f8a814
}

*{box-sizing:border-box;}

/*========================== header ================================*/
header {
    background-color: #373E3B;
    height: 50px; /* 적절한 높이 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3;
    color: #D9DED1;
    position: relative;
}

#logo-area{
    flex-basis: 5%;
    height:100%;
}
header > section:nth-child(2){
    flex-basis: 65%;
    height:100%;
}
#btn-area{
    flex-basis: 25%;
    display: flex;
    padding:0;
    margin:0;
    justify-content: center;
    align-items: center;
    height:100%;
}
header > section{
    padding:0px;
    margin:0px;
}

#when-login-area{
    display: flex;
    padding:0px;
    margin:0px;
    justify-content: center;
    align-items: center;
}

#when-login-area > a{
    border-radius: 50%;  
    overflow: hidden;     
    background-color: #FCD1A0;
    width:100%;
    height:80px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
    position:relative;
}

#btn-area > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.board-header{
    /* 게시판 글자 벗어날 시 hover 범위 벗어나는 것에 대한 해결 부분*/ 
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#board-nav{
    display: none;
    width:40%;
    height:auto;
    top: 100%; 
    right: 0;
    min-width:800px;
    max-width:90vw; 
    background-color: #506E66;
    list-style: none;

    padding: 0px;
    margin: 0px;

    position:absolute;
    overflow: hidden;
 
}

.board-header:hover ul#board-nav{
    display:flex;
}

#board-header-name:hover{
    color:#A2B7A8;
    background-color: #D9DED1;
} 

#board-nav a{
    padding:1.2em;
    text-decoration: none;
    font-size: 13px;    
    color : #D9DED1;
    padding:0px;
    margin:0px;
    padding: 1.2em 0;
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:100%;
}

#board-nav li{
    text-align:center;
    gap:20px;
    padding:0px;
    margin:0px;
    flex:1;
    display:flex;
    height:100%;
}

header section a:hover {
    color:#f8a814;
}

/*---------------------------------------------------*/

#homeLogo {
    height: 50px; 
}


/* 게시판, 채팅, 로그인 메뉴 */
header section:not(:first-child):not(:nth-child(2)) {
    margin-left: 25px;
    
}

header section a {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
    transition: opacity 0.2s;
    text-decoration: none;
}





/* 게시판, 채팅, 로그인 메뉴들을 감싸는 영역 */
header section:last-of-type {
    display: flex;
    align-items: center;
}

header section a {
    color: #D9DED1;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 40px; /* 메뉴 간 간격 */
    opacity: 0.9;
}

/* 로그인 창 */
#login-window{
    flex-direction: column;
    width:350px;
    height:420px;
    top:20%;
    left:40%;
    display: hidden;
    border: 1px solid #D9DED1;
    position:fixed;
    background-color: #D9DED1;
	border-radius:15px;
}

.hidden{
    display:none;
}

.show{
    display:block;
}

#login-window > section{
    display: flex;
    flex-direction: column;
}

#login-window > div:first-child{
	background-color: #373E3B;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-weight: bold;
	padding:10px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

#login-window > div:first-child > div{
	width:90%;
	margin-top:5px;
	font-size: 28px;
}

#login-window-close{
	width:10%;
	height:40px;
	font-size: 28px;
	cursor:pointer;
	color: white;
	padding:0px;
	background-color: transparent;
	border:none;
	outline:none;
}

#login-form{
	width:92%;
	height:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login-form > label{
	color:rgb(105, 103, 107)
}

#login-area{
	width:95%;
	border:none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:rgb(105, 103, 107);
}

#loing-area > input{
	width:100%;
	margin:5px;
	color:rgb(105, 103, 107);
}