.COLORPALLETE{
    color:#D9DED1;
    color:#F2EADD;
    color:#A2B7A8;
    color:#506E66;
    color:#373E3B;
    color:#FCD1A0;
    color:#f8a814
}

*{box-sizing:border-box;}

body{
    background-color: #F2EADD;
}
.main-container{
    display: flex;
    flex-direction: column;
}

.main-img-section{
    width:100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#mainImg{
    width:100%;
}

.main-board{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
}
.main-board-all{
    display: flex;
    width:auto;
    height:50%;
    padding:10px;
    margin-top:10px;
}

.main-board-ea{
    width:32%;
    height:100%;
    border: 1px solid rgb(171, 171, 206);
    margin:10px;
    padding-bottom: 10px;
    display: flex;
    border-radius: 22px;
    flex-direction:column;
}

.board-name-area{
    width:100%;
    height: 50px;
    background-color: rgb(58, 57, 57);
    color:#D9DED1;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    display:flex;
    padding:10px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.board-name-area a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin-left:10px;
}
.board-name-area a:hover{
    color:#FCD1A0;
}
.board-name-area div:last-child{
    color:#f8a814;
}

.board-top5-list > section{
	display: flex;
	justify-content: center;
	align-items: center;
}
.board-top5-list > section > section{
    width:85%;
}
.board-top5-list > section{
    width:95%;
    border:1px solid #A2B7A8;
    border-radius: 15px;
}

.board-top5-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    padding-top: 5px;
}
.board-rank{
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    color: #506E66;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:200%;
    width:15%;
    text-align: center;
}

.board-rank-part-upper{
    display: flex;
    margin-top:6px;
    margin-bottom: 3px;
	gap:5px;
}
.board-rank-part-upper a{
    text-decoration: none;
    color: #373E3B;         
    font-weight: bold;     
    margin-left: 15px; 
}
.board-rank-part-upper a:hover{
    color:#49bd9e;
}

.board-rank-part-lower{
    display: flex;
    margin-top:3px;
    margin-bottom:6px;
    justify-content: space-around;
    align-items: center;
}
.board-rank-part-lower i{
    margin-right: 5px;
}
.board-rank-part-lower i{
    color: #373E3B;
}
.board-rank-part-lower div{
    color:#506E66;
}

.board-rank-part-lower > span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-rank-part-view{
    width:15%;
}
.board-rank-part-comment{
    width:15%;
}
.board-rank-part-writedate{
    width:50%;
}


.new{
	background-color: rgb(0, 198, 149);
	color:white;
}

.hot{
	background-color: rgb(255, 55, 45);
	color:white;
}