<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>

  <!-- 공용 css/js 추가 -->
  <th:block th:replace="~{common/common}"></th:block>

  <!-- myPage 전용 CSS -->
  <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>

<body>

  <!-- 헤더 추가 -->
  <th:block th:replace="~{common/header}"></th:block>

  <main>
    <section class="myPage-content">

      <!-- 사이드 메뉴(왼쪽) 추가 -->
      <th:block th:replace="~{myPage/myPage-sideMenu}"></th:block>

      <!-- 마이페이지 본문(오른쪽) -->
      <section class="myPage-main">

        <h1 class="myPage-title">회원 탈퇴</h1>
        <span class="myPage-subject">
          현재 비밀번호가 일치하는 경우 탈퇴할 수 있습니다.
        </span>

        <!--
          현재 위치 : /myPage/secession (GET)
          현재 위치 : /myPage/secession (POST)
        -->
        <form action="secession" method="POST" name="myPageFrm" id="secession">

          <div class="myPage-row">
            <label>비밀번호</label>
            <input type="password" name="memberPw" id="memberPw" maxlength="16">
          </div>


          <div class="myPage-row info-title">
            <label>회원 탈퇴 약관</label>
          </div>

            <pre class="secession-terms">
                이용약관
                  제1조 (목적)
                  이 약관은 주식회사 8교시(이하 “회사”)가 제공하는 온라인 웹사이트 서비스(이하 “서비스”)에 대한 
                  이용계약을 체결한 이용자(이하 “회원”)의 서비스 이용조건 및 절차, 
                  회사와 회원의 권리와 의무 및 책임사항을 규정함을 목적으로 합니다.

                  제2조 (정의)
                  (1) 회원 ID란 회원 식별 및 서비스 이용 등을 위해 이용자가 직접 설정, 입력한 이메일주소를 뜻합니다.
                  (2) 패스워드란 회원 정보 보호 및 회원 별 정보 제공 서비스 등을 위해 이용자가 직접 설정, 
                  입력하며 문자와 숫자로 이뤄진 조합을 뜻합니다.
                  (3) 운영자란 서비스의 전반적 관리 및 운영을 담당하는 회사의 직원을 뜻합니다.
                  제3조 (회원 가입 신청 및 허가)
                  회원 가입은 회원이 회사가 제시하는 양식에 자기 정보를 입력, 신청하고 회사는 이를 허가함으로써 이루어집니다.

                  제4조 (회원 가입 신청 시 기재 항목)
                  회원은 회원 가입 신청 시 다음 항목은 필수적으로 입력해야 합니다.

                  1. 이름
                  2. 이메일주소/패스워드
                  3. 생년월일
                  4. 휴대폰번호
                  제5조 (회원 가입 허가 및 유보 등)
                  (1) 회사는 제4조에 규정된 각 항목을 성실히 기재하고 본 약관에 동의하는 이용자에 한해 서비스 이용을 허가합니다.
                  (2) 회사는 다음 각 호의 경우 허가를 유보할 수 있습니다.
                  1. 서비스를 제공하지 못할 기술적 장애가 발생한 경우
                  2. 기타 회사가 필요하다고 판단한 경우
                  (3) 회사는 다음 각 호의 경우 허가를 철회하거나 거절할 수 있습니다.
                  1. 제4조에 규정된 항목을 허위로 기재한 경우
                  2. 다른 사람의 명의를 도용, 회원 가입을 신청한 경우
                  3. 사회 공공질서 또는 건전한 미풍양속을 저해할 우려가 있다고 충분히 인정되는 경우
                  4. 기타 회원으로서 부적절한 행위를 할 우려가 있다고 충분히 인정되는 경우
                  제6조 (회원 정보의 변경)
                  회원은 서비스의 이용 및 원활한 정보 제공 등을 위해 자기 정보를 성실히 관리해야 하며, 
                  변동 사항이 있을 경우 이를 변경해야 합니다.
                  1. 이름
                  2. 이메일주소/패스워드
                  3. 생년월일
                  4. 휴대폰번호
                  제5조 (회원 가입 허가 및 유보 등)
                  (1) 회사는 제4조에 규정된 각 항목을 성실히 기재하고 본 약관에 동의하는 이용자에 한해 서비스 이용을 허가합니다.
                  (2) 회사는 다음 각 호의 경우 허가를 유보할 수 있습니다.
                  1. 서비스를 제공하지 못할 기술적 장애가 발생한 경우
                  2. 기타 회사가 필요하다고 판단한 경우
                  (3) 회사는 다음 각 호의 경우 허가를 철회하거나 거절할 수 있습니다.
                  1. 제4조에 규정된 항목을 허위로 기재한 경우
                  2. 다른 사람의 명의를 도용, 회원 가입을 신청한 경우
                  3. 사회 공공질서 또는 건전한 미풍양속을 저해할 우려가 있다고 충분히 인정되는 경우
                  4. 기타 회원으로서 부적절한 행위를 할 우려가 있다고 충분히 인정되는 경우
                  제6조 (회원 정보의 변경)
                  회원은 서비스의 이용 및 원활한 정보 제공 등을 위해 자기 정보를 성실히 관리해야 하며, 
                  1. 이름
                  2. 이메일주소/패스워드
                  3. 생년월일
                  4. 휴대폰번호
                  제5조 (회원 가입 허가 및 유보 등)
                  (1) 회사는 제4조에 규정된 각 항목을 성실히 기재하고 본 약관에 동의하는 이용자에 한해 서비스 이용을 허가합니다.
                  (2) 회사는 다음 각 호의 경우 허가를 유보할 수 있습니다.
                  1. 서비스를 제공하지 못할 기술적 장애가 발생한 경우
                  2. 기타 회사가 필요하다고 판단한 경우
                  (3) 회사는 다음 각 호의 경우 허가를 철회하거나 거절할 수 있습니다.
                  1. 제4조에 규정된 항목을 허위로 기재한 경우
                  2. 다른 사람의 명의를 도용, 회원 가입을 신청한 경우
                  3. 사회 공공질서 또는 건전한 미풍양속을 저해할 우려가 있다고 충분히 인정되는 경우
                  4. 기타 회원으로서 부적절한 행위를 할 우려가 있다고 충분히 인정되는 경우
                  제6조 (회원 정보의 변경)
                  회원은 서비스의 이용 및 원활한 정보 제공 등을 위해 자기 정보를 성실히 관리해야 하며, 
                  1. 이름
                  2. 이메일주소/패스워드
                  3. 생년월일
                  4. 휴대폰번호
                  제5조 (회원 가입 허가 및 유보 등)
                  (1) 회사는 제4조에 규정된 각 항목을 성실히 기재하고 본 약관에 동의하는 이용자에 한해 서비스 이용을 허가합니다.
                  (2) 회사는 다음 각 호의 경우 허가를 유보할 수 있습니다.
                  1. 서비스를 제공하지 못할 기술적 장애가 발생한 경우
                  2. 기타 회사가 필요하다고 판단한 경우
                  (3) 회사는 다음 각 호의 경우 허가를 철회하거나 거절할 수 있습니다.
                  1. 제4조에 규정된 항목을 허위로 기재한 경우
                  2. 다른 사람의 명의를 도용, 회원 가입을 신청한 경우
                  3. 사회 공공질서 또는 건전한 미풍양속을 저해할 우려가 있다고 충분히 인정되는 경우
                  4. 기타 회원으로서 부적절한 행위를 할 우려가 있다고 충분히 인정되는 경우
                  제6조 (회원 정보의 변경)
                  회원은 서비스의 이용 및 원활한 정보 제공 등을 위해 자기 정보를 성실히 관리해야 하며, 
            </pre>

          <div>
            <input type="checkbox" name="agree" id="agree">
            <label for="agree">위 약관에 동의합니다.</label>
          </div>


          <button class="myPage-submit">탈퇴</button>

        </form>

      </section>

    </section>

  </main>

  <!-- 푸터 추가 -->
  <th:block th:replace="~{common/footer}"></th:block>

  <!-- js 추가 -->
  <script src="/js/myPage/myPage-update.js"></script>
</body>

</html>