<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 메인</title>

    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
</head>
<body>
    <h3> 마이페이지 메인 테스트</h3>
    <container id="container">

        <container class="main-container"> <!-- 마이페이지 메인 기능 부분 -->
            
            <section class="upper"> <!--마이페이지 상단: 캘린더, todo-->
                
                <section class="calender main-content"> <!-- 캘린더 -->
                    
                    <div id="calender-upper"> <!-- 캘린더 상단 부분-->
                        <div id="calender-name"> 
                            캘린더
                        </div>
                        <div>
                            <button id="calender-left-btn">left</button>
                            <div id="calender-year">2026년</div>
                            <div id="calender-month">1월</div>
                            <button id="calender-right-btn">right</button>
                        </div>
                    </div>

                    <div id="calender-main"> <!-- 캘린더 메인 -->
                        <table class="calender-table"> 
                            <tr class="calender-table-head">
                                <th>mon</th>
                                <th>tue</th>
                                <th>wed</th>
                                <th>thu</th>
                                <th>fri</th>
                                <th>sat</th>
                                <th>sun</th>
                            </tr>
                            <tr class="calender-table-body">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="calender-table-body">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="calender-table-body">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="calender-table-body">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="calender-table-body">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="calender-table-body">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </table>
                    </div>

                </section> <!-- 캘린더 끝-->

                <section class="todo main-content"> <!-- todo -->
                    <div id="todo-upper">제목 부분</div>
                    <div id="todo-list">
                        <ul>
                            <li>할일1</li>
                            <li>할일2</li>
                        </ul>
                    </div>
                    <button>수정</button>
                </section> <!--todo 끝-->

            </section> <!-- 마이페이지 상단 끝 -->

            <section class="mid"> <!--마이페이지 중단: 시간표-->
                
                <section class="class-table main-content"> <!-- 시간표 -->

                    <section id="semester-part">시간표</section>

                    <section> <!-- 시간표 상단 부분-->
                        <div id="semester-name">
                            2026년도 2학기
                        </div>
                        <div id="semester-edit-area">
                            <button id="semester-edit-btn">
                            수정 
                            </button>
                        </div>
                    </section>

                    <section> <!-- 시간표 하단 부분-->

                    <div class="day mon1">
                        
                        <div class="day-name">MON</div><!-- 각 요일 제목 부분-->

                        <section>
                        <section class="day-left"> <!-- 각 요일 왼쪽 부분(교시) -->
                            <div class="classtime" id="mon-ct1">1교시</div>
                            <div class="classtime" id="mon-ct2">2교시</div>
                            <div class="classtime" id="mon-ct3">3교시</div>
                            <div class="classtime" id="mon-ct4">4교시</div>
                            <div class="classtime" id="mon-ct5">5교시</div>
                            <div class="classtime" id="mon-ct6">6교시</div>
                            <div class="classtime" id="mon-ct7">7교시</div>
                        </section>
                        <section></section> <!-- 빈 section-->
                        <section class="day-right"> <!-- 각 요일 왼쪽 부분(과목) -->
                            <div class="subject" id="mon-sb1">국어</div>
                            <div class="subject" id="mon-sb2">국어</div>
                            <div class="subject" id="mon-sb3">국어</div>
                            <div class="subject" id="mon-sb4">국어</div>
                            <div class="subject" id="mon-sb5">국어</div>
                            <div class="subject" id="mon-sb6">국어</div>
                            <div class="subject" id="mon-sb7">국어</div>
                        </section>
                        </section>

                    </div>

                    <div class="day tue2">
                        
                        <div class="day-name">TUE</div><!-- 각 요일 제목 부분-->

                        <section>
                        <section class="day-left"> <!-- 각 요일 왼쪽 부분(교시) -->
                            <div class="classtime" id="tue-ct1">1교시</div>
                            <div class="classtime" id="tue-ct2">2교시</div>
                            <div class="classtime" id="tue-ct3">3교시</div>
                            <div class="classtime" id="tue-ct4">4교시</div>
                            <div class="classtime" id="tue-ct5">5교시</div>
                            <div class="classtime" id="tue-ct6">6교시</div>
                            <div class="classtime" id="tue-ct7">7교시</div>
                        </section>
                        <section></section> <!-- 빈 section-->
                        <section class="day-right"> <!-- 각 요일 왼쪽 부분(과목) -->
                            <div class="subject" id="tue-sb1">국어</div>
                            <div class="subject" id="tue-sb2">국어</div>
                            <div class="subject" id="tue-sb3">국어</div>
                            <div class="subject" id="tue-sb4">국어</div>
                            <div class="subject" id="tue-sb5">국어</div>
                            <div class="subject" id="tue-sb6">국어</div>
                            <div class="subject" id="tue-sb7">국어</div>
                        </section>
                        </section>

                    </div>

                    <div class="day wed3">
                        
                        <div class="day-name">MON</div><!-- 각 요일 제목 부분-->

                        <section>
                        <section class="day-left"> <!-- 각 요일 왼쪽 부분(교시) -->
                            <div class="classtime" id="wed-ct1">1교시</div>
                            <div class="classtime" id="wed-ct2">2교시</div>
                            <div class="classtime" id="wed-ct3">3교시</div>
                            <div class="classtime" id="wed-ct4">4교시</div>
                            <div class="classtime" id="wed-ct5">5교시</div>
                            <div class="classtime" id="wed-ct6">6교시</div>
                            <div class="classtime" id="wed-ct7">7교시</div>
                        </section>
                        <section></section> <!-- 빈 section-->
                        <section class="day-right"> <!-- 각 요일 왼쪽 부분(과목) -->
                            <div class="subject" id="wed-sb1">국어</div>
                            <div class="subject" id="wed-sb2">국어</div>
                            <div class="subject" id="wed-sb3">국어</div>
                            <div class="subject" id="wed-sb4">국어</div>
                            <div class="subject" id="wed-sb5">국어</div>
                            <div class="subject" id="wed-sb6">국어</div>
                            <div class="subject" id="wed-sb7">국어</div>
                        </section>
                        </section>

                    </div>

                    <div class="day thu4">
                        
                        <div class="day-name">THU</div><!-- 각 요일 제목 부분-->

                        <section>
                        <section class="day-left"> <!-- 각 요일 왼쪽 부분(교시) -->
                            <div class="classtime" id="thu-ct1">1교시</div>
                            <div class="classtime" id="thu-ct2">2교시</div>
                            <div class="classtime" id="thu-ct3">3교시</div>
                            <div class="classtime" id="thu-ct4">4교시</div>
                            <div class="classtime" id="thu-ct5">5교시</div>
                            <div class="classtime" id="thu-ct6">6교시</div>
                            <div class="classtime" id="thu-ct7">7교시</div>
                        </section>
                        <section></section> <!-- 빈 section-->
                        <section class="day-right"> <!-- 각 요일 왼쪽 부분(과목) -->
                            <div class="subject" id="thu-sb1">국어</div>
                            <div class="subject" id="thu-sb2">국어</div>
                            <div class="subject" id="thu-sb3">국어</div>
                            <div class="subject" id="thu-sb4">국어</div>
                            <div class="subject" id="thu-sb5">국어</div>
                            <div class="subject" id="thu-sb6">국어</div>
                            <div class="subject" id="thu-sb7">국어</div>
                        </section>
                        </section>

                    </div>

                    <div class="day fri5">
                        
                        <div class="day-name">FRI</div><!-- 각 요일 제목 부분-->

                        <section>
                        <section class="day-left"> <!-- 각 요일 왼쪽 부분(교시) -->
                            <div class="classtime" id="fri-ct1">1교시</div>
                            <div class="classtime" id="fri-ct2">2교시</div>
                            <div class="classtime" id="fri-ct3">3교시</div>
                            <div class="classtime" id="fri-ct4">4교시</div>
                            <div class="classtime" id="fri-ct5">5교시</div>
                            <div class="classtime" id="fri-ct6">6교시</div>
                            <div class="classtime" id="fri-ct7">7교시</div>
                        </section>
                        <section></section> <!-- 빈 section-->
                        <section class="day-right"> <!-- 각 요일 왼쪽 부분(과목) -->
                            <div class="subject" id="fri-sb1">국어</div>
                            <div class="subject" id="fri-sb2">국어</div>
                            <div class="subject" id="fri-sb3">국어</div>
                            <div class="subject" id="fri-sb4">국어</div>
                            <div class="subject" id="fri-sb5">국어</div>
                            <div class="subject" id="fri-sb6">국어</div>
                            <div class="subject" id="fri-sb7">국어</div>
                        </section>
                        </section>

                    </div>

                    <div class="day sat6">
                        
                        <div class="day-name">SAT</div><!-- 각 요일 제목 부분-->

                        <section>
                        <section class="day-left"> <!-- 각 요일 왼쪽 부분(교시) -->
                            <div class="classtime" id="sat-ct1">1교시</div>
                            <div class="classtime" id="sat-ct2">2교시</div>
                            <div class="classtime" id="sat-ct3">3교시</div>
                            <div class="classtime" id="sat-ct4">4교시</div>
                            <div class="classtime" id="sat-ct5">5교시</div>
                            <div class="classtime" id="sat-ct6">6교시</div>
                            <div class="classtime" id="sat-ct7">7교시</div>
                        </section>
                        <section></section> <!-- 빈 section-->
                        <section class="day-right"> <!-- 각 요일 왼쪽 부분(과목) -->
                            <div class="subject" id="sat-sb1">국어</div>
                            <div class="subject" id="sat-sb2">국어</div>
                            <div class="subject" id="sat-sb3">국어</div>
                            <div class="subject" id="sat-sb4">국어</div>
                            <div class="subject" id="sat-sb5">국어</div>
                            <div class="subject" id="sat-sb6">국어</div>
                            <div class="subject" id="sat-sb7">국어</div>
                        </section>
                        </section>

                    </div>

                    </section>

                </section> <!-- 시간표 끝-->

            </section> <!-- 마이페이지 중단 끝 -->

            <section class="lower"> <!--마이페이지 하단: 일기장, 오답노트 -->
                
                <section class="diary main-content"> <!-- 일기장-->
                    <div>일기장 제목</div>
                </section> <!-- 일기장 끝-->    

                <section class="wrong-note main-content"> <!-- 오답노트-->

                </section> <!-- 오답노트 끝-->

            </section> <!-- 마이페이지 하단 끝 -->

        </container>

        <container class="sidebar"> <!-- 프로필 및 색상 테마 수정 부분-->

        </container>

    </container>
</body>
</html>

<!-- seongjong -->