<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 프로필 수정 화면</title>

    <link rel="stylesheet" href="/css/myPage/myPage-profile.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>



    <script src="/js/myPage/myPage-profile.js"></script>
	<th:block th:replace="~{common/footer}"></th:block>
</body>
</html>