<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>8gyosi - 회원가입</title>

  <link rel="stylesheet" href="/8gyosi/src/main/resources/static/css/member/signup-style.css">

  <!-- fontawesome 카메라 아이콘 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- 8gyosi, login 픽셀 폰트 awesome -->
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>

  <!-- 헤더 시작 -->
  <header class="navbar">
    <div class="logo">8gyosi</div>
    <nav>
      <a href="#">게시판</a>
      <a href="#">채팅</a>
      <a href="#" class="login-btn">LOGIN</a>
    </nav>
  </header>

  <!-- 회원가입 시작 -->
  <main class="container">
    <section class="signup-card">
      <div class="card-header">회원가입</div>

      <div class="card-body">
        <div class="profile-section">
          <div class="profile-circle">
            <div class="camera-icon">
              <i class="fa-solid fa-camera"></i>
            </div>
            <!-- <div class="delete-icon">X</div> -->
          </div>
        </div>

        <!-- 이메일 -->
        <label for="memberEmail">
          <span class="required">*</span>
        </label>

        <form id="signupForm">
          <div class="signUp-input-group">
            <label for="memberEmail">이메일</label>
            <input type="email" id="memberEmail" placeholder="이메일을 입력하세요">
            <button type="button" id="sendAuthKeyBtn" class="btn-action">인증하기</button>
          </div>

          <!-- 이메일 인증 -->
          <label for="authKey">
            <span class="required">*</span>
          </label>

          <div class="signUp-input-group">
            <label for="authKey">인증번호</label>
            <input type="text" id="authKey">
            <button type="button" class="btn-action">인증확인</button>

            <span class="msg success">인증이 완료되었습니다.</span>
          </div>

          <!-- 비밀번호 -->
          <label for="memberPw">
            <span class="required">*</span>
          </label>

          <div class="signUp-input-group">
            <label for="memberPw">비밀번호</label>
            <input type="password" id="memberPw" placeholder="특수문자 포함한 8 - 16자 입력">
          </div>

          <!-- 비밀번호 확인 -->
          <div class="signUp-input-group">
            <label for="memberPwCheck">비밀번호 확인</label>
            <input type="password" id="memberPwCheck">

            <!-- 비밀번호 확인 msg -->
            <span class="msg success">올바른 비밀번호입니다.</span>
          </div>

          <!-- 별명 -->
          <label for="memberNickName">
            <span class="required">*</span>
          </label>

          <div class="signUp-input-group">
            <label for="memberNickName">별명</label>
            <input type="text" id="memberNickName">
            <button type="button" class="btn-action">중복검사</button>

            <span class="msg error">중복된 별명입니다. 다른 별명을 입력하세요.</span>
          </div>

          <!-- 생년월일 -->
          <div class="signUp-input-group">
            <label for="userBirth">생년월일</label>
            <input id="userBirth">
          </div>

          <!-- 주소 -->
          <div class="signUp-input-group">
            <label for="memberAddress">주소</label>
            <input type="text" id="userAddress">
            <button type="button" class="btn-action">주소찾기</button>

            <div class="signUp-input-group">
              <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
            </div>

            <div class="signUp-input-group">
              <input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">
            </div>
          </div>

          <button type="button">가입하기</button>
        </form>
      </div>
    </section>
  </main>

  <!-- footer 시작 -->
  <footer class="footer">
    <div class="footer-links">
      <a href="#">개인정보처리방침</a>
      <a href="#">운영정책</a>
      <a href="#">고객센터</a>
    </div>
    <div class="footer-info">
      8교시는 학생들을 위한 건전한 온라인 공간입니다. 부적절한 게시물 발견 시 제재될 수 있습니다.
    </div>
    <div class="scroll-top">↑</div>
  </footer>

</body>

</html>